$width: 350px;
.toast {
  position: fixed;
  width: $width;
  z-index: 10000;
}
.toast-message {
  position: relative;
  box-sizing: border-box;
  background-color: #323232;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  transition: 400ms cubic-bezier(0.17, 0.67, 0.17, 0.98);
  transition-property: opacity, transform;
}
.toast-button {
  position: absolute;
  top: 0;
  right: 5px;
  padding: 2px;
  background-color: transparent;
  border-width: 0;
  font-size: 1.5em;
  color: inherit;
  cursor: pointer;
}
.toast-button::before {
  content: '\d7';
}
/**
 * Transition
 */
.toast-enter-active,
.toast-leave {
  opacity: 1;
}
.toast-enter,
.toast-leave-active {
  opacity: 0;
}
.toast-leave-active {
  position: absolute;
}
/**
 * Position
 */
.toast-position-n {
  top: 10px;
  left: 50%;
  margin-left: -$width / 2;
}
.toast-position-s {
  bottom: 10px;
  left: 50%;
  margin-left: -$width / 2;
}
.toast-position-ne {
  top: 10px;
  right: 10px;
}
.toast-position-nw {
  top: 10px;
  left: 10px;
}
.toast-position-se {
  bottom: 10px;
  right: 10px;
}
.toast-position-sw {
  bottom: 10px;
  left: 10px;
}
/**
 * Transition with position
 */
.toast-position-n,
.toast-position-ne,
.toast-position-nw {
  .toast-enter,
  .toast-leave-active {
    transform: translateY(-20px);
  }
}
.toast-position-s,
.toast-position-se,
.toast-position-sw {
  .toast-enter {
    transform: translateY(20px);
  }
  .toast-leave-active {
    transform: translateY(-100%) translateY(20px);
  }
}
/**
 * Types
 */
.toast-type-info .toast-message-text:before {
  font-family: "Material Icons";
  content: "info_outline";
  font-weight: bold;
  color: #43b4ec;
  vertical-align: top;
  padding-right: 5px;
  // content: "info";
}
.toast-type-success .toast-message-text:before {
  font-family: "Material Icons";
  content: "done";
  font-weight: bold;
  color: #3add93;
  vertical-align: top;
  padding-right: 5px;
  // content: "check_circle";
}
.toast-type-warning .toast-message-text:before {
  font-family: "Material Icons";
  content: "priority_high";
  font-weight: bold;
  color: #efd700;
  vertical-align: top;
  padding-right: 5px;
  // content: "report_problem";
  // content: "warning";
}
.toast-type-danger .toast-message-text:before {
  font-family: "Material Icons";
  content: "close";
  font-weight: bold;
  color: #f3755e;
  vertical-align: top;
  padding-right: 5px;
  // content: "remove_circle";
  // content: "report";
  // content: "warning";
}
