// 文字对齐工具类 text-left, text-center, text-right, text-justify
@each $pos in (left, center, right, justify) {
  .text-#{$pos} {
    text-align: $pos;
  }
}

// 浮动工具类 pull-left, pull-right
@each $pos in (left, right) {
  .pull-#{$pos} {
    float: $pos;
  }
}

// 清除浮动 clearfix
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// 字号类 fs-12, fs-14 等
@each $size in (0, 12, 13, 14, 15, 16, 18, 20) {
  .fs-#{$size} {
    font-size: $size * 1px;
  }
}

// 字重类 fw-lighter, fw-normal, fw-bold, fw-bolder
@each $weight in (lighter, normal, bold, bolder) {
  .fw-#{$weight} {
    font-weight: $weight;
  }
}

// 定位方式类 pos-rel, pos-fix, pos-abs, pos-sta
@each $k, $pos in (rel: relative, fix: fixed, abs: absolute, sta: static) {
  .pos-#{$k} {
    position: $pos;
  }
}

// 显示类型类 block, hidden, flex 等
@each $k, $type in (
  block: block,
  inline-block: inline-block,
  inline: inline,
  table: table,
  table-row: table-row,
  table-cell: table-cell,
  hidden: none,
  flex: flex,
  inline-flex: inline-flex,
) {
  .#{$k} {
    display: $type;
  }
}

// 溢出类型类 ovf-hidden, ovf-visible, ovf-scroll, ovf-auto 等
@each $type in (hidden, visible, scroll, auto) {
  .ovf-#{$type} {
    overflow: $type;
  }
}

// 垂直对齐类 vt-top, vt-middle, vt-bottom, vt-baseline 等
@each $pos in (top, middle, bottom, baseline, sub, super) {
  .vt-#{$pos} {
    vertical-align: $pos;
  }
}

.prevent-select {
  user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}